{% extends "base.html" %}

{% block content %}
<div class="container mt-5" style="max-width: 500px;">
    <h2 class="text-center mb-4">User Login</h2>
    <form action="{{ url_for('auth.login') }}" method="post" class="border p-4 shadow rounded">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="Enter username" required>
        </div>
        
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Enter password" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
        <div class="text-center mt-3">
            <a href="{{ url_for('auth.register') }}">Don't have an account? Register here</a>
        </div>
    </form>
</div>
{% endblock %}
